/* FONT */
@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* COLOR PALETTE */
$text_blue: hsl(238, 29%, 16%);
$text_red: hsl(14, 88%, 65%);
$text_bluegray: hsl(237, 12%, 33%);
$text_gray: hsl(240, 6%, 50%);

$bg_violet: hsl(273, 75%, 66%);
$bg_blue: hsl(240, 73%, 65%);

$divider: hsl(240, 5%, 91%);

/* RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body {
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Kumbh Sans";
  font-size: 12px;
  background: linear-gradient(170deg, $bg_violet, $bg_blue);
  -webkit-font-smoothing: antialiased;
  display: grid;
  place-items: center;
}

a {
  text-decoration: none;
}
.box__img {
  position: absolute;
  transform: translate(-60%, 180%);
  z-index: 20;
}
.box__wrapper {
  width: 800px;
  height: 450px;
  overflow: hidden;
  .box {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 12px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    .graphic {
      align-self: center;
      position: relative;
      img {
        max-width: 400px;
        transform: translateX(-50px);
      }
      .pattern {
        position: absolute;
        top: -30%;
        right: 60%;
        transform: scale(1.8);
      }
    }
    .content {
      padding: 30px 60px;
      color: $text_blue;
    }
  }
}

@media only screen and (max-width: 900px) {
  html,
  body {
    padding-top: 8%;
    overflow-x: visible;
  }
  .box__img {
    transform: translate(-4%, -28%) scale(0.5);
  }
  .box__wrapper {
    width: 380px;
    height: 600px;
    overflow: visible;
    .box {
      padding: 0px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr;
      grid-column-gap: 0px;
      .graphic {
        margin: 0 auto;
        img {
          max-width: 250px;
          transform: translateX(-20px) translateY(-120px);
        }
        .pattern {
          top: -65%;
          right: 6%;
        }
      }
      .content {
        margin: 0;
        padding: 0;
        transform: translateY(-50px);
        text-align: center;
      }
    }
  }
}
